<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>PORTFOLIO</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/Profile.png" alt="" srcset="" />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icons/Facebook.svg" alt="" srcset="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icons/Instagram.svg" alt="" srcset="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icons/Twitter.svg" alt="" srcset="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icons/Linkeding.svg" alt="" srcset="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icons/Youtube.svg" alt="" srcset="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icons/Dribbble.svg" alt="" srcset="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <p class="yellow_text">Age:</p>
              <p>24</p>
            </div>
            <div class="left_2-1">
              <p class="yellow_text">Residence:</p>
              <p>BD</p>
            </div>
            <div class="left_2-1">
              <p class="yellow_text">Freelance:</p>
              <p>Available</p>
            </div>
            <div class="left_2-1">
              <p class="yellow_text">Address:</p>
              <p>Dhaka, Bangladesh</p>
            </div>
          </div>
          <div class="marginer"></div>
          <!--LANGUAGES-->
          <div class="left_3">
            <h1 class="sub_headlines">Languages</h1>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>Bangla</p>
                <p>100%</p>
              </div>
              <img src="box_images/bangla_line.png" alt="" srcset="" />
            </div>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>English</p>
                <p>80%</p>
              </div>
              <img src="box_images/english_line.png" alt="" srcset="" />
            </div>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>Spanish</p>
                <p>60%</p>
              </div>
              <img src="box_images/spanish_line.png" alt="" srcset="" />
            </div>
          </div>
          <!--END LANGUAGES-->
          <div class="marginer"></div>
          <!--SKILLS-->
          <div class="left_4">
            <h1 class="sub_headlines">Skills</h1>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>HTML</p>
                <p>90%</p>
              </div>
              <img src="box_images/html_line.png" alt="" srcset="" />
            </div>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>CSS</p>
                <p>85%</p>
              </div>
              <img src="box_images/css_line.png" alt="" srcset="" />
            </div>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>JS</p>
                <p>80%</p>
              </div>
              <img src="box_images/js_line.png" alt="" srcset="" />
            </div>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>PHP</p>
                <p>75%</p>
              </div>
              <img src="box_images/php_line.png" alt="" srcset="" />
            </div>
            <div class="left_4_wrapper">
              <div class="text_wrapper">
                <p>WordPress</p>
                <p>85%</p>
              </div>
              <img src="box_images/wordPress_line.png" alt="" srcset="" />
            </div>
          </div>
          <!--END SKILLS-->
          <div class="marginer"></div>
          <!--EXTRA SKILLS-->
          <div class="left_5">
            <h1 class="sub_headlines">Extra Skills</h1>
            <div class="oneline">
              <img src="box_images/extra_skill_icon.png" alt="" srcset="" />
              <p>Bootstrap, Materialize</p>
            </div>
            <div class="oneline">
              <img src="box_images/extra_skill_icon.png" alt="" srcset="" />
              <p>Stylus, Sass, Less</p>
            </div>
            <div class="oneline">
              <img src="box_images/extra_skill_icon.png" alt="" srcset="" />
              <p>Gulp, Webpack, Grunt</p>
            </div>
            <div class="oneline">
              <img src="box_images/extra_skill_icon.png" alt="" srcset="" />
              <p>GIT Knowledge</p>
            </div>
          </div>
          <!--END EXTRA SKILLS-->
          <div class="marginer"></div>
        </div>
        <div class="middle_frame">
          <div class="middle_top">
            <div class="middle_top_div">
              <div class="middle_top_frame">
                <div class="round_yellow"></div>
                <div class="round_green"></div>
                <div class="round_yellow_1"></div>
                <div class="round_green_1"></div>
                <div class="rectangle_yellow"></div>
                <div class="rectangle_blue"></div>
                <div class="triangle_red"></div>
                <div class="middle_top_main_text">
                  <h1>Doctor neurologists in OHSU Hospital</h1>
                </div>
                <div class="middle_top_text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                    volutpat feugiat placerat lobortis. Natoque rutrum semper
                    sed suspendisse nunc lectus.
                  </p>
                </div>
                <a class="link_href" href="">
                  <button class="btn">HIRE ME &rarr;</button>
                </a>
              </div>
              <div class="middle_top_img">
                <img src="images/profile_main_img.png" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="middle_bottom">
            <div class="middle_bottom_1">
              <h1>my services</h1>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit. lorem
                ipsum
              </p>
            </div>
            <div class="middle_bottom_2">
              <div class="wrapper">
                <img src="box_images/coding.png" alt="" srcset="" />
                <h1>web development</h1>
                <p>blog, e-commerce</p>
              </div>
              <div class="wrapper">
                <img src="box_images/illustration.png" alt="" srcset="" />
                <h1>uI/uX design</h1>
                <p>Mobile app, website design</p>
              </div>
              <div class="wrapper">
                <img src="box_images/Microphone.png" alt="" srcset="" />
                <h1>sound design</h1>
                <p>Voice Over, Beat Making</p>
              </div>
              <div class="wrapper">
                <img src="box_images/game-development.png" alt="" srcset="" />
                <h1>game design</h1>
                <p>Character Design, Props & Objects</p>
              </div>
              <div class="wrapper">
                <img src="box_images/Photographer.png" alt="" srcset="" />
                <h1>photography</h1>
                <p>portrait, product photography</p>
              </div>
              <div class="wrapper">
                <h1>advertising</h1>
                <p style="width: 272px">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                  nulla diam in ac dictum a urna viverra morbi.
                </p>
                <a href="">ORDER NOW ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="right_frame_1">
            <img src="icons/Contact.png" alt="" srcset="" />
          </div>
          <div class="right_frame_icons">
            <a href="">
              <img
                style="margin-left: -12px"
                src="icons/Home.png"
                alt=""
                srcset=""
              />
            </a>
            <a href="">
              <img src="icons/Service.png" alt="" srcset="" />
            </a>
            <a href="">
              <img src="icons/Cv.png" alt="" srcset="" />
            </a>
            <a href="">
              <img src="icons/Portfolio.png" alt="" srcset="" />
            </a>
            <a href="">
              <img src="icons/Blog.png" alt="" srcset="" />
            </a>
            <a href="">
              <img src="icons/Contact.png" alt="" srcset="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
